#root {
  max-width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ********** LOCAL WEATHER ********** */
.current-weather-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20rem;
  padding: .3rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  gap: 5rem;
  background: rgba(144, 145, 146, 0.24);
  border-radius: 2rem;
  color: white;
}

.current-weather {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two equal columns */
  grid-template-rows: auto auto auto; /* Dynamic row sizes */
  gap: .1rem;
  margin-left: 8rem;
  text-align: center;
  width: 40rem;
}

.temp {
  font-size: 3rem;
}

/* ********** ZIP WEATHER *********** */
input, textarea {
  color: #ffffff;
  height: 2rem;
  width: 25rem;
  background-color: #03162fd0;
  border-radius: 20px;
  border: 0px;
  padding: 5px;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
}
::placeholder {
  color:#ffffff ;
}
/* clears zip place holder */
input:focus::placeholder {
  color: transparent;
}

.zip-weather-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20rem;
  border-radius: 1rem;
  padding: .3rem;
  gap: 5rem;
  /* background: rgba(144, 145, 146, 0.24); */
  color: white;
}

.zip-current-weather {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two equal columns */
  grid-template-rows: auto auto auto; /* Dynamic row sizes */
  background: rgba(144, 145, 146, 0.24);
  gap: .1rem;
  border-radius: 2rem;
  padding: .3rem;
  margin-left: 8rem;
  text-align: center;
  width: 40rem;
}

.zip-forecast-container {
  display: flex;
  flex-direction: row;
  /* background: rgba(144, 145, 146, 0.24); */
  gap: 20rem;
  font-size: .8rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding-left: 5rem;
}

.zip-five-day-forecast {
  text-align: center;
}

.zip-five-day-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.zip-weather-icon {
  height: 100px;
  width: 100px;
}

.zip-hourly-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5rem;
}

.zip-hourly-card {
  text-align: center;
  width: fit-content;
}

/* Make sure the icon takes up both columns */
.weather-icon {
  grid-column: span 2; /* Icon spans across both columns */
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  margin-left: 8rem;
}

.temp, .feels-like, .humidity, .description, .high-low, .sunrise, .sunset {
  grid-column: span 1; /* Each item takes up one column */
}

.location-time, .zip-time {
  height: 20rem;
  width: 15rem;
  line-height: 1.5rem;
  margin-left: 5rem;
  align-content: center;
  justify-content: center;
  /* background-color: rgb(250, 128, 114, 0.200); */
}

.forecast-container {
  display: flex;
  flex-direction: row;
  padding-left: 5rem;
  gap: 20rem;
  font-size: .8rem;
}

.five-day-forecast {
  text-align: center;
}

.five-day-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-icon {
  height: 100px;
  width: 100px;
}

.hourly-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5rem;
}

.hourly-card {
  text-align: center;
  width: fit-content;
}

/* Responsive for small screens */
@media (max-width: 500px) {
  .current-weather {
    grid-template-columns: 1fr; /* One column for smaller screens */
  }

  .weather-icon {
    grid-column: span 1; /* Icon remains centered */
  }
}

